# Default owner for everything in the repo
* @athewsey

# Module owners
/01_Inference_APIs/         @thewsey
/02_Knowledge_Bases_and_RAG/ @w601sxs
/03_Model_customization/     @w601sxs
/04_Agents/                  @mttanke
/tutor/                      @w601sxs

# CI / GitHub config
/.github/                    @jld23
